@import 'theme';
@import 'mixins';
.ax_form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 3.2rem 0;

  .ax_form_heading{
    width: 100%;
    margin-bottom: 1.6rem;

    p{
      font-size: 1.6rem;
      font-family: $body-font;
    }
  }
  .ax_field{
    display: flex;
    flex-direction: column;    

    label{
      color: darken($highlight-color, 10);
      font-family: $display-font;
      font-size: 1.4rem;
      font-weight: 700;
      display: block;
      width: 100%;
      margin-bottom: .4rem;

      span{
        color: red;
        font-weight: 800;
        font-size: 1.6rem;
      }
    }

    textarea, input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="tel"] {
      width: 100%;
      border-radius: .4rem;
      border: .1rem solid $mid-gray;
      background: $bright-color;
      padding: 0 1.6rem;
      color: $base-color;
      font-family: $body-font;
      font-size: 1.4rem;
      display: inline-block;
      margin-bottom: 1.6rem;
      font-weight: 400;

      &::placeholder{
        font-weight: 400;
      }
    }

    input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="tel"] {
      height: 4rem;
    }

    small{
      font-family: $display-font;
      font-size: 1.4rem;
    }

    input[type="checkbox"]{
      margin-bottom: 1.6rem;
    }

    input[type="submit"]{
      height: 4rem;
      border-radius: .4rem;
      background: $highlight-color;
      color: $bright-color;
      font-family: $display-font;
      font-size: 1.6rem;
      font-weight: 600;
      border: none;
    }

  }
}

@include responsive(desktop){
  .ax_form{  
    .ax_field{
      width: 100%;      
    }
  }
}

@include responsive(tablet){
  .ax_form{  

    .ax_field{
      width: 100%;
    }
  }
}

@include responsive(mobile){
  .ax_form{  
 
    .ax_field{
      width: 100%;
    }
  }
}