@import 'theme';
@import 'mixins';

.ax_signature {
  margin: 6.4rem 0;
}

.ax_btn_copy{
  height: 4rem;
  border-radius: .4rem;
  background: $highlight-color;
  color: $bright-color;
  font-family: $display-font;
  font-size: 1.6rem;
  font-weight: 600;
  border: none;
  padding: 0 16px;
}